UPSTASH_REDIS_REST_URL="*******"
UPSTASH_REDIS_REST_TOKEN="****"
NEXT_PUBLIC_ENABLE_TESTNETS="true"
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="***"
NEXT_PUBLIC_TOKEN_ADDRESS="***"
NEXT_PUBLIC_CONTRACT_ADDRESS="***"
NEXT_PUBLIC_AIRDROP_CONTRACT_ADDRESS="*****"

# Polygon (Amoy) Testnet Addressess

# UPSTASH_REDIS_REST_URL="https://relevant-ox-53119.upstash.io"
# UPSTASH_REDIS_REST_TOKEN="Ac9_AAIncDFjMDkwZTUwYTg0ZGM0MGFiYWY4MzE2ODllZTRjMzc5MnAxNTMxMTk"
# NEXT_PUBLIC_ENABLE_TESTNETS="true"
# NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="eefdc259819376d98986b6b980fc701d"
# NEXT_PUBLIC_TOKEN_ADDRESS="0x0AF364d9F6a18ad6A12900BD8c88536e33B4a8f9"
# NEXT_PUBLIC_CONTRACT_ADDRESS="0x2b2B751BF2A95A1f828ECf851F36BA788634cB1a"
# NEXT_PUBLIC_AIRDROP_CONTRACT_ADDRESS="0xA24F7cA2CE5C6085E8b92A90f475D72addcBCcC7"
