@import "../node_modules/sal.js/dist/sal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .drop-shadow-custom {
    @apply drop-shadow-[2px_3px_0px_#000000];
  } */
  .primary-button-sm {
    @apply flex gap-1 px-5 py-3 bg-surface-primary rounded-lg border-2 border-black border-solid;
    transition: all 0.2s;

    &:hover {
      box-shadow: 2px 3px 0px #000000;
    }
  }
  .secondary-button-sm {
    @apply justify-center px-5 py-3 bg-white rounded-lg border-2 border-black border-solid;
    transition: all 0.2s;

    &:hover {
      box-shadow: 2px 3px 0px #000000;
    }
  }

  .primary-button {
    @apply justify-center px-7 py-3 max-sm:px-6 bg-surface-primary rounded-xl border-solid border-[3px] text-base md:text-lg   border-stone-900 max-md:px-5;
    transition: all 0.2s;

    &:hover {
      box-shadow: 2px 3px 0px #000000;
    }
  }
  .secondary-button {
    @apply justify-center px-7 py-3 max-sm:px-6 rounded-xl border-solid  border-primary border-[3px] text-base md:text-lg max-md:px-5;
    transition: all 0.2s;

    &:hover {
      box-shadow: 2px 3px 0px #000000;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Friends", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "NeueHaasGroteskDisplayPro", "sans-serif";
  line-height: normal !important ;
}

h1,
h2 {
  font-family: "Friends", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NeueHaasGroteskDisplayPro", "sans-serif";
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --toastify-color-info: #fffba0 !important;
  --toastify-color-success: #166534 !important;
  --toastify-color-warning: #ffce9a !important;
  --toastify-color-error: #b91c1c !important;
  --toastify-toast-width: fit-content !important;
}
.Toastify__toast-container {
  max-width: 424px !important ;
}
.Toastify__toast-icon {
  margin-right: 14px !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  border-radius: 12px !important;
  border: 1.5px solid #b91c1c !important;
  background: #fef2f2 !important;
  box-shadow: -8px 8px 16px 0px rgba(133, 133, 133, 0.15) !important;
  font-family: var(--Font-Family-Body, "Neue Haas Grotesk Display Pro");
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  color: #000000 !important;
  padding: 20px !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  border-radius: 12px !important;
  border: 1.5px solid #bdbdbd !important;
  background: #fffef1 !important;
  box-shadow: -8px 8px 16px 0px rgba(133, 133, 133, 0.15) !important;
  font-family: var(--Font-Family-Body, "Neue Haas Grotesk Display Pro");
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  color: #000000 !important;
  padding: 20px !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  border-radius: 12px !important;
  border: 1.5px solid #166534 !important;
  background: #dcfce7 !important;
  box-shadow: -8px 8px 16px 0px rgba(133, 133, 133, 0.15) !important;
  font-family: var(--Font-Family-Body, "Neue Haas Grotesk Display Pro");
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  color: #000000 !important;
  padding: 20px !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  border-radius: 12px !important;
  border: 1.5px solid #ffce9a !important;
  background: #fff4e5 !important;
  box-shadow: -8px 8px 16px 0px rgba(133, 133, 133, 0.15) !important;
  font-family: var(--Font-Family-Body, "Neue Haas Grotesk Display Pro");
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  color: #000000 !important;
  padding: 20px !important;
}

.Toastify__close-button {
  color: #000000 !important;
}

.Toastify__toast-body {
  align-items: flex-start !important;
}
.hover-effect:hover button .icon-chevron-down {
  stroke-width: 4px !important;
}

.hover-effect:hover button span {
  font-weight: 600 !important;
}

.hover-effect {
  position: relative;
}

.hover-effect .dropdown-content {
  opacity: 0;
  transform: translateY(-10px);
  display: block;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hover-effect:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
li.hover-effect:hover .icon-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Smooth transition */
}

/* carousel.css */
.carousel {
  /* display: block; */
  font-size: 0;
  border-radius: 8px;
  padding: 8px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
  background: transparent;
  transform: translateZ(0);
  height: 200px;
  -webkit-overflow-scrolling: touch;
  /* for tablets */
}
.touch .carousel {
  overflow: auto;
}
.carousel::after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: -8px;
  left: 0;
  background-color: #fffba0;
  height: 11px;
  border-radius: 80px;
  border: 1px solid #000000;
  opacity: 0;
  width: var(--scrollWidth, 0);
  left: var(--scrollLleft, 0);
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover::after {
  opacity: 1;
  bottom: -28px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: 4px;
}

.carousel > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 100%;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}

.carousel {
  width: 100%;
  margin: auto;
}
